* {
  margin: 0;
  box-sizing: border-box;
  /* border: solid 1px rgb(118, 118, 118); */
}
body {
  min-width: 175svh;
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}
figure {
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  min-height: 25px;
  margin: auto;
}
img {
  max-width: 100%;
}
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 600;
}
h3 {
  font-family: "Playfir Display", Arial, sans-serif;
  font-size: 12px;
  font-weight: 550;
  font-style: normal;
}
h4 {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 10px;
}
p {
  font-family: "Lato", serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
}
h2,
h3,
h4,
p {
  letter-spacing: 0.5px;
}

section {
  display: grid;
}
#item1 {
  grid-area: card1;
  background-color: rgb(105, 52, 205);
  color: whitesmoke;
}
#item2 {
  grid-area: card2;
  background-color: gray;
  color: whitesmoke;
}
#item3 {
  grid-area: card3;
  background-color: antiquewhite;
}
#item4 {
  grid-area: card4;
  background-color: rgb(73, 63, 94);
  color: whitesmoke;
}
#item5 {
  grid-area: card5;
  background-color: aliceblue;
}
.cards {
  display: grid;
  grid-template:
    "card1 card1 card1 card2 card2 card5 card5"
    "card1 card1 card1 card2 card2 card5 card5"
    "card3 card3 card4 card4 card4 card5 card5"
    "card3 card3 card4 card4 card4 card5 card5";
  grid-template-columns: 1fr 1fr 3fr 1fr 0.75fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 520px;
  width: 1150px;
  grid-gap: 30px;
}
.article-content {
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2vw;
  background-color: hsl(0, 8%, 80%);
  color: rgb(12, 19, 24);
  border-radius: 1.5vh;
  overflow: hidden;
  box-shadow: 0 20px 30px 0 rgba(9, 9, 9, 0.188);
  gap: 15px;
  height: 100%;
}
.card-container h2,
.card-container h3 {
  max-height: 100%;
  max-width: 100%;
  white-space: wrap;
}
.author {
  display: grid;
  grid-template:
    "avatar title"
    / auto 1fr;
}
.avatar {
  grid-area: avatar;
}
.title {
  grid-area: title;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
@media (max-width: 500px) {
  main {
    display: block;
  }
  body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .cards {
    display: flex;
    max-width: 100svh;
    flex-direction: column;
    height: auto;
    width: auto;
  }
}
